.eAccordion {
    list-style:none;   
    width: 920px;
    height: 396px;    
    overflow: hidden;
    padding: 0;
}
.eAccordion li {
	top: 0;
	left: 0;
    float: left;
    width: 390px;
    height: 396px;
    display: block;
    background-color: #faf5f1;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
    border-left: 1px solid #faf5f1;
    -moz-box-shadow:    0 0 25px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    box-shadow:         0 0 25px rgba(0, 0, 0, 0.8);
}
.eAccordion h2 {
    font-size: 14px;
    color: #faf5f1;
    line-height: 18px;
    margin: 54px 0 0;
    padding: 9px 10px;
    background: url(../images/nivo-caption.png);
    text-shadow: #363432 0 1px 0;  
}
.eAccordion div {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #f0eae6;
    background: url(../images/nivo-caption.png); 
}
.eAccordion div h2 {
    font-size: 18px;
    background: none;
    padding: 18px 10px 0;
    margin: 0 0 9px;
}
.eAccordion div p {
    padding: 0 10px;
}
ul.eAccordion li {
	background-repeat: no-repeat;
	background-position:  top left;
}