a{
    color: #ab6f33;
}
a:hover{
    color: #7d5125;
}
blockquote i span{
    color: #ab6f33;
}
.dropcap2{
    background: #7d5125;
}
.bullet1 li{
    background: url(../../images/skins/darkOrange/bullet1.png) 0 10px no-repeat;
}
.bullet2 li{
    background: url(../../images/skins/darkOrange/bullet2.png) 0 10px no-repeat;
}
.bullet3 li{
    background: url(../../images/skins/darkOrange/bullet3.png) 0 10px no-repeat;
}
.bullet4 li{
    background: url(../../images/skins/darkOrange/bullet4.png) 0 10px no-repeat;
}
/* `graphic elements
----------------------------------------------------------------------------------------------------*/
a.sl_button{
    background: url(../../images/skins/darkOrange/bn.png) right -27px no-repeat ;
    text-shadow: #7d5125 0 1px 0;
}
a.sl_button span{
    background: url(../../images/skins/darkOrange/bn.png) left 0 no-repeat ;
}
a.md_button{
    background: url(../../images/skins/darkOrange/bn.png) right -144px no-repeat ;
    text-shadow: #7d5125 0 1px 0; 
}
a.md_button span{
    background: url(../../images/skins/darkOrange/bn.png) left -108px no-repeat ;
}
a.lg_button{
    background: url(../../images/skins/darkOrange/bn.png) right -306px no-repeat ;
    text-shadow: #7d5125 0 1px 0;  
}
a.lg_button span{
    background: url(../../images/skins/darkOrange/bn.png) left -252px no-repeat ;
}
form button:hover{
    text-shadow: #7d5125 0 1px 0;
    background: url(../../images/skins/darkOrange/blog-elements.png) right -208px no-repeat ;
}
form button:hover span{
    background: url(../../images/skins/darkOrange/blog-elements.png) left -172px no-repeat ;
}
/* `headertop
----------------------------------------------------------------------------------------------------*/
#headertop a{
    color: #cc853d;
}
#headertop a:hover{
    background: #cc853d;
}
/* `navi-logo
----------------------------------------------------------------------------------------------------*/
#logo h1 a{
    background: url(../../images/skins/darkOrange/logo.png) center no-repeat;
}
ul.mega-menu li .sub li a{
    background: #7d5125;   
}
ul.mega-menu li .sub li li a:hover{
    color: #ab6f33;
    border-left: 5px solid #ab6f33;
}
ul.mega-menu li .sub-container.non-mega .sub li a:hover{
    color: #ab6f33;
    border-left: 5px solid #ab6f33;
}
/* `jQuery Nivo Slider
----------------------------------------------------------------------------------------------------*/
.nivo-caption a {
    color: #eb9846;
}
.nivo-caption a:hover{
    background: #ab6f33; 
}
/* `Elegant Accordion
----------------------------------------------------------------------------------------------------*/
.eAccordion a{
    color: #eb9846;
}
.eAccordion a:hover{
    background: #ab6f33;
}
/* `layerslider
----------------------------------------------------------------------------------------------------*/
#purchase{
    background: #ab6f33;
}
#purchase:hover{
    background: #7d5125;
}
/* `va-accordion
----------------------------------------------------------------------------------------------------*/
.va-slice p span{
	color:#7d5125;
}
.va-slice .light p span{
    color: #eb9846;
}
/* `pagecontent
----------------------------------------------------------------------------------------------------*/
.slogan .wrap span{
   color: #ab6f33; 
}
.breadcrumb a:hover{
    color: #ab6f33;
}
.header form .submit:hover{
    background: url(../../images/skins/darkOrange/bn.png) -36px 100% no-repeat; 
}
.filter_navi li a.active,
.filter_navi li a:hover{
    color: #ab6f33;
}
.pager-sitemap a,
.pager a{
    background: url(../../images/skins/darkOrange/navi_carousel-pager.png) no-repeat;
}
.pager-sitemap a:hover,
.pager-sitemap a.selected,
.pager a:hover,
.pager a.selected{
    background: url(../../images/skins/darkOrange/navi_carousel-pager.png) -11px top no-repeat;
}
.latest_news .date{
    background: #7d5125;
}
#content .grid_12 .post .date{
    background: url(../../images/skins/darkOrange/blog-elements.png) 0 0 no-repeat;
}
.tags a{
    background: url(../../images/skins/darkOrange/blog-elements.png) left -100px no-repeat;
}
.tags a span{
    background: url(../../images/skins/darkOrange/blog-elements.png) right -118px no-repeat;
}
.pagination a{
    color: #7d5125;
}
.pagination .current{
    background: #ab6f33;
}
.sidebar h4{
    color: #faf5f1;
    padding-left: 25px;
    background-color: #7d5125;
}
#content .categ li a:hover{
    color: #7d5125;
}
#content .sidebar .posts h5 a:hover{
    color: #ab6f33;
}
.sitemap li a:hover{
    color: #7d5125;
}
/* `content elements
----------------------------------------------------------------------------------------------------*/
.table .selected .top span{
    text-shadow: #7d5125 0 1px 0;   
}
.table .column.selected .top{
    background: #b87737;
}
.table .column.selected .top h5{
    background: #ab6f33;
}
.table .selected .check{
    background: url(../../images/skins/darkOrange/icons.png) left -392px no-repeat;  
}
.table .selected a.md_button{
    background: url(../../images/skins/darkOrange/bn.png) right -144px no-repeat ;
    text-shadow: #7d5125 0 1px 0;
}
.table .selected a.md_button span{
    background: url(../../images/skins/darkOrange/bn.png) left -108px no-repeat ;
}
/*
 * jQuery UI CSS Award Styles
 */
.ui-accordion .ui-state-default a,
.ui-accordion .ui-state-default a:link,
.ui-accordion .ui-state-default a:visited{
    background: #7d5125;
}
.ui-accordion .ui-state-active a,
.ui-accordion .ui-state-active a:link,
.ui-accordion .ui-state-active a:visited{
    background: #7d5125;
}
.ui-accordion .ui-state-hover a:hover{
    background: #ab6f33;
}
.ui-accordion .ui-state-hover a:hover{
    text-shadow: #7d5125 0 1px 0;
}
.ui-tabs .ui-state-default{
    background: #ab6f33;
}
.ui-tabs .ui-state-default.ui-state-hover{
    text-shadow: #7d5125 0 1px 0;    
}
/* `pagefooter
----------------------------------------------------------------------------------------------------*/
.footer-bg a{
    color: #d68b40;
}
.footer-bg a:hover{
    background: #d68b40;
}
#pagefooter .post a.date:hover,
#pagefooter .post a.date{
    background: #ab6f33;
}
#pagefooter .list a:hover{
    color: #cc853d;
}
/* HoverAlls Plugin Award Styles*/

.overlay_container{
    background: #faa24b;
}
.defaultOverlayBg{
    background: #7d5125;
}

/* IMAGE, VIDEO, LINK */

.linkOverlay_container,
.videoOverlay_container,
.imageOverlay_container{
    background: #faa24b;
}
.linkOverlayTx,
.videoOverlayTx,
.imageOverlayTx{
    background: #7d5125;   
}
.tooltipTx{
    background: #7d5125;
}